<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles.css">
    <title>User Profile</title>
</head>

<body>
    {{#user}}
    <div class="picAndLabels">
        <div class="" <div class="avatarWrapper">
            <img class="avatarPic" src={{avatar}} alt=name + " Profile Pic">
        </div>
        {{#university}}
            <h4 class="label">University</h4>
        {{/university}}
        <h4 class="label">Skills</h4>
    </div>
    <div class="infoBlock">
        <h1>{{name}}</h1>
        {{#address}}
          {{#city}}
            <h4>{{city}}, {{country}} |</h4>
          {{/city}}
        {{/address}}
        {{#job}}
          <h4> {{job}}, {{company}}</h4>
        {{/job}}
        {{^job}}
          <h4 class="available">Available for hire</h4>
        {{/job}}
        <h4>{{email}} |</h4>
        <h4> {{phone}}</h4>
        
    </div>
    {{/user}}
</body>

</html>